.contenedor {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    justify-content: space-between;
}

.cajas {
    justify-content: space-around;
}

.servicios {
    background-color: pink;
    justify-content: space-around;
}

.jefa{
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    color: black;
    width: 200px;
}

.jefa div img{
    border-radius: 50%;
    width: 200px;

}